
/* global styles to be applied on all pages */

* {
	font-family:Arial;
}

body {
	margin:0;
	background-color:#e9f2f9;
}

form {
	margin:0;
}

input[type="text"],
input[type="password"]  {
	padding:7px 10px;
	margin-left:10px;
	font-style:italic;
	font-size:11pt;
}

.hidden {
	display:none !important;
}

#content {
	display:flex;
	margin:30px auto 20px auto;
	width:100%;
}

.altbtn {
	padding:5px 25px;
	background-color:white;
	border:1px solid #999;
	border-top:0;
	border-radius:0 0 10px 10px;
}
.altbtn:hover {
	background-color:#999;
	transition:background-color 0.1s, color 0.1s;
	color:white;
	cursor:hand;
}

.section-title-container {
	font-weight:bold;
	font-size:14pt;
	text-decoration:underline;
    background-color: unset;
	margin:unset !important;
    text-shadow: 1px 1px white;
	border:unset !important;
	background-color:unset !important;
}

#main-section {
	display:flex;
	flex-direction:column;
	width:100%;
	justify-content:center;
	align-items:center;
}
#main-section > * {
	border: 1px solid black;
	padding:20px;
	background-color:whitesmoke;
	margin-bottom:20px;
	max-width:60%;
}
#main-section > *:last-child {
	margin-bottom:0;
}
