.imgholder {
	width:175px;
	height:175px;
	background-color:#fdd;
}


.coverimg-container,
.details {
	display:flex;
	flex-direction:column;
}


#main-section{
	width: 500px;
	background-color: black;
}