
#register-form {
	background-color:white;
	display:flex;
	flex-direction:column;
	align-items:flex-end;
	padding:20px;
	border:1px solid #aaa;
}

#register-form > * {
	margin-bottom:15px;
}
#register-form > *:last-child {
	margin-bottom:0;
}

#title-container {
	display:flex;
	width:100%;
	justify-content:center;
	margin-bottom:15px;
}
#title {
	font-weight:bold;
	font-size:14pt;
	border-bottom:2px solid #999;
}

.input-container {
	
}

#submit-container {
	display:flex;
	width:100%;
	justify-content:center;
	margin-top:15px;
}
#submit {
	padding:5px 20px;
}