

button{
    background-color: rgb(85, 84, 84);
    border-radius: 5%;
    border:0px solid rgb(66, 116, 182);  
    width: 200px; 
    height: 40px;
    
}

.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
  }
  
  .header a {
    float: left;
    color: rgb(34, 34, 34);
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }
  
 
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }
  
  .header a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .header a.active {
    background-color: dodgerblue;
    color: white;
  }
  
  .header-right {
    float: right;
  }
  

  .center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .features{
    position: relative;
    background-color: rgb(169, 169, 173);
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    align-items: center;
    padding: 30px;
  }


  .image{
    width: 300px;
  }


.column {
    float: left;
    width: 30;
    padding-top: 10px;
    padding-left: 15px;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }


  .column2 {
    float: right;
    width: 30;
    padding-top: 10px;
    padding-right: 15px;
  }
  
  .row2::after {
    content: "";
    clear: both;
    display: table;
  }



.circle {
    background-color:rgb(184, 184, 184);
    border:3px solid rgb(66, 116, 182);    
    height:100px;
    border-radius:50%;
    width:100px;
    
}




.firstblob{
    position: relative;
}


.firstblob2{
    position: relative;
}

.attribute{
    position: absolute;
    top: 80px;
    right: 20%;
}
.attribute2{
    position: absolute;
    top: 80px;
    left: 20%;

}



.sharepic{
    width: 50px;
    position: relative;
    bottom: 75px;
    left: 25px;
}


.sharepic2{
    position: relative;
    width: 50px;
    bottom: 75px;
    left: 25px;
}



